body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--white);
}

/*Colors*/
:root {
  --blue-gradient: rgba(1, 50, 87, 1);
  --light-blue: #e8fdff;
  --light-grey: #cccccc;
  --sonic-silver: #767676;
  --eerie-black: #222222;
  --white: #fffffc;
}

/*fonts*/
p {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 10px;
}

h1 {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

h2 {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

h3 {
  color: var(--dark-gray);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.header-title {
  margin-left: 5%;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--blue-gradient);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  color: var(--white);
  font-size: 10px;
  border: none;
  margin: 2px;
}

button:hover {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  background-color: var(--white);
  border: 2px solid var(--blue-gradient);
  color: var(--eerie-black);
  font-size: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
}

@media screen and (min-width: 600px) {

  /*This is designed for only mobile, so we use 400px as a max width*/
  .navlink-profile {
   left: 28%;
  }

  body {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--white);
    text-decoration: none;
    font-size: 10px;
  }
}


@media screen and (max-width: 600px) {

  .all-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--white);
    text-decoration: none;
    font-size: 10px;
  }

  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

/*Navigation*/


.navlink {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navlink-profile {
  position: absolute;
  top: 2%;
  right: 5%;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

/*Balance*/
.balance {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  width: 90%;
}

/*Finance-buttons*/



/*LoginPage*/

.login-form {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

/*Cards*/

/*To-buy cards*/

.kitchen-cards{
  width: 90%;
margin-left: auto;
margin-right: auto;  
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.to-buy-card{
  height: 70px;
  width: 70px;
  background-color:var(--light-grey);
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 3px rgb(199, 199, 199);
}

.in-house-card{
  height: 70px;
  width: 70px;
  background-color: var(--blue-gradient);
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 3px rgb(199, 199, 199);
}