body{
  padding: 0;
  margin:0;
  border:0;
  font-family: 'Josefin Sans', sans-serif;
}
/*Colors*/
:root {
  --blue-gradient:linear-gradient(105deg, rgba(1,50,87,1) 70%, rgba(59,81,149,1) 100%);
  --light-blue: #e8fdff;
  --light-grey:#cccccc;
  --sonic-silver: #767676;
  --eerie-black: #222222;
  --white: #fffffc;
}

/*fonts*/
p {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
}

h1 {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

h2 {
  color: var(--main-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

h3{
  color: var(--dark-gray);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}


/*Navigation*/
 nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom:0;
  border: 2px solid var(--main-color);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-gray);
  text-decoration: none;
  font-size: 10px;
  
 }

 .navlink{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  padding: 10px;
 }

 .balance{
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding:  10px;
  justify-content: space-around;
  width: 90%;
 }

 .finance-button{
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
 }