body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--white);
}

/*Colors*/
:root {
  --light-gray: #a7aabc;
  --dark-gray: #434656;
  --main-blue: #5a6eab;
  --light-blue: #e8fdff;
  --coral: #e48b94;
  --available: #219284;
  --unavailable: #E48B94;
}

/*fonts*/
p {
  color: var(--dark-gray);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 10px;
}

h1 {
  color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

h2 {
  color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

h3 {
  color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.header-title {
  margin-left: 5%;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--main-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  color: var(--white);
  font-size: 10px;
  border: none;
  margin: 2px;
}

button:hover {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  background-color: var(--white);
  border: 2px solid var(--main-blue);
  color: var(--dark-gray);
  font-size: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
}

body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--white);
  text-decoration: none;
  font-size: 10px;
}

.all-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


nav {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--main-blue);
  border-radius: 30px 30px 0px 0px;
  text-decoration: none;
  font-size: 10px;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Navigation*/


.navlink {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.home {
  background-image: url("./pictures/home-turq.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.laundry {
  background-image: url("./pictures/laundry-trq.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.finances {
  background-image: url("./pictures/piggy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.kitchen {
  background-image: url("./pictures/clipboard-trq.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home:active {
  background-image: url("./pictures/home-active.png");
}

.laundry:active {
  background-image: url("./pictures/laundry-active.png");
}

.finances:active {
  background-image: url("./pictures/piggy-active.png");
}

.kitchen:active {
  background-image: url("./pictures/clipboard-active.png");
}

.navlink-profile {
  position: absolute;
  top: 2%;
  right: 5%;
  width: 50px;
  height: 5 0px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  color: white;
}

/*Balance*/
.balance {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  width: 90%;
}

/*Finance-buttons*/



/*LoginPage*/

.login-form {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

/*Cards*/

/*To-buy cards*/

.kitchen-cards {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.to-buy-card {
  height: 70px;
  width: 70px;
  background-color: var(--white);
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 3px rgb(199, 199, 199);
}

.in-house-card {
  height: 70px;
  width: 70px;
  background-color: var(--white);
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 3px rgb(199, 199, 199);
}

.machine {
  display: flex;
}

.machine .icon {
  /* background-color: var(--unavailable); */
  background-color: var(--available);
}



/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}